# Hum, <FilesMatch "\.pl$"> doesn't seem to work here...
<Files login.pl>
Options ExecCGI
SetHandler perl-script
PerlHandler Apache::Registry
</Files>
<Files logout.pl>
Options ExecCGI
SetHandler perl-script
PerlHandler Apache::Registry
</Files>
PerlAuthenHandler Sample::AuthCookieHandler->authen
PerlAuthzHandler Sample::AuthCookieHandler->authz
AuthType Sample
AuthName WhatEver
PerlSetVar WhatEverPath /unprotected
PerlSetVar WhatEverLoginScript /unprotected/login.pl
PerlSetVar AuthCookieDebug 4
